<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title><%= title %></title>

<link href="/vendor/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">

<script src="/vendor/jquery-1.11.3.min.js"></script>
<script src="/vendor/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/vendor/typeahead.js/typeahead.jquery.min.js"></script>