<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head.ejs %>
    </head>
    <body>
        <% include header.ejs %>

        <div class="container">
            <%- body %>
        </div><!-- /.container -->

        <% include footer.ejs %>
    </body>
</html>
