<% layout('components/layout'); %>

<div class="row">
    <div id="description" class="col-md-3">
        <h2 class="title"></h2>
        <img src="" class="image img-responsive">
        <p class="description"></p>
    </div>
    <div id="d3" class="col-md-9">

    </div>
</div>

<script src="/vendor/d3.min.js"></script>
<script src="/assets/js/index.js"></script>